.site-header{
    padding: 10px 0;
    width: 100%;
    position: absolute;
    z-index: 2;
}

@media (min-width: 500px) {
    .site-header{
        background-color: rgba(47, 85, 114, .3);
    }
}
.site-header__btn-container{
    float: right;
}

.site-header__logo{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    padding: 13px 29px;
    background-color: #2f5572;
}

@media (min-width: 800px) {
    .site-header__logo{
        padding: 25px 36px;
        left: auto;
        transform: translateX(0);
    }
}

.site-header__menu-content{
    display: none;
}

@media (min-width: 800px) {
    .site-header__menu-content{
        display: block;
    }
}

@media (min-width: 800px) {
    .site-header__menu-icon{
        display: none;
    }
}

.site-header__menu-icon{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
}