.wrapper{
    overflow: hidden;
    padding: 0 18px;
    max-width: 1236px;
    margin: 0 auto;
}
.wrapper--medium{
    max-width: 976px;
}

.wrapper .wrapper{
    padding-left: 0;
    padding-right: 0;
}
.wrapper--b-margin{
    margin-bottom: 1rem;
}

@media (min-width: 500px) {
    .wrapper--b-margin{
        margin-bottom: 3.875rem;
    }
}